* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 50px;
}

img {
    width: 30px;
    height: 30px;
    background: none;
}

.container {
    background-color: rgb(224, 224, 226);
    min-height: 100vh;
}

.navbar {
    background-color: rgb(224, 224, 226);
    font-size: 20px;
}

.titulo {
    height: 100px;
    background-color: #6f268f;
}

.h1-titulo {
    font-size: 40px;
    color: whitesmoke;
    margin-left: 2%;
    padding: 3%;
    text-transform: uppercase;
    margin-bottom: 1%;
}

.imagen-home {
    display: block;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 40px;
}

.row div {
    display: flex;
    justify-content: space-around;
}

.table {
    width: 70%;
    margin: auto;
    padding: 2rem;
}

.div-clasificacion {
    padding: 30px;
}

.tabla-clasificacion {
    margin: top 2rem;
    text-align: start;
}

.tabla-partidos tbody tr td {
    padding: 5px;
}

tbody.tbody-clasificacion tr :first-child {
    text-align: center;
}

tbody.tbody-clasificacion tr :nth-child(n + 4) {
    text-align: center;
}

.texto-carrusel {
    color: rgb(233, 233, 233);
}

.subtitulos {
    background-color: #618b4a;
    margin: auto;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
}

.equipos-home {
    display: flex;
    font-size: 20px;
    margin: auto;
    padding: 5px;
}

.descripcion-equipos {
    width: 70%;
    margin: auto;
    padding: 20px;
}

.row {
    font-size: 18px;
}

.tabla-partidos tbody tr td:last-child {
    text-align: center;
    border: 2px solid whitesmoke;
}

.tablas-estadisticas {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

.titulo-tablas {
    width: 70%;
    text-align: center;
    background-color: #618b4a;
    color: whitesmoke;
    margin: auto;
    padding: 5px;
}

tbody.tbody-estadisticas tr :nth-child(n + 2) {
    text-align: center;
}

.filtros {
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}

.form-filtros {
    background-color: #618b4a;
    padding: 20px;
    font-size: 17px;
    display: inline-block;
    color: whitesmoke;
}

.boton {
    border-radius: 12px;
    padding: 5px;
}

.btnPlantilla {
    color: white;
    width: 100%;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    margin: auto;
    text-align: center;

    background-color: #618b4a;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 2s ease-in-out;
    position: fixed;
}

@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .table {
        width: 100%;
        padding: 0;
        font-size: 12px;
    }

    .descripcion-equipos {
        font-size: 15px;
        width: 90%;
    }

    .div-clasificacion {
        padding: 0px;
        font-size: 12px;
    }

    .titulo-tablas {
        width: 100%;
    }

    .titulo {
        height: 60px;
    }

    .h1-titulo {
        font-size: 28px;
        text-align: center;
    }

    .radios {
        margin: 16px;
    }

    .boton {
        margin: 5px;
    }

    .navbar {
        font-size: 15px;
    }
}

@media (max-width: 330px) {
    .filtros {
        padding: 0;
    }
}